
body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Shrikhand', cursive;
  font-size: 24px;
  text-align: center;

}

.logo h1 {
  display: inline-block;
}

a {
  color: black;
}
  a:hover{
    color: #545454;
  }

img {
  width: 100%;
}

.leaf-logo {
    width: 100px;
    display: inline-block;
  }

.picture {
  width: 250px;


}

li, ul {
  list-style: none;
}

.product-card{
  display: inline-block;
}

.product-show {
  text-align: center;
}

.product-show .picture {
  width: 500px;
}
